<!DOCTYPE html>
<html>
<head>
	<% include head %>
</head>
<body>
	<% include nav-bar %>
	<main>
		<div class="container">
			<div class="row">
				<div id= "About-Me" class="col s12">I'm a Full Stack Engineer. Hire Me. I'm Awesome
				</div>
				<div id ="Featured-Project" class="col s12">
					<h1>Featured Project</h1>
					<h2>Shoebox</h2>
					<img id="feature-picture" class="col s6" src="images/Shoebox.jpg">
					<div id="feature-caption" class="col s6">A site for allowing foster children the opportunity to have professional photos taken throughout childhood.</div>
				</div>
			</div>
			<div class="row">	
				<div id="Skills">
					<h1>Skills</h1>
					<h2>Click on a Skill to view relevant projects.<h2>
					<div class="col s12 view-all">
						<button class="waves-effect waves-light btn-large" onclick="checkProjects('all');">View All</button>
						<div id = "view-all"></div>
					</div>
					<div class="skills-row-1 col s12">
						<div class="col s2">
							<button class="waves-effect waves-light btn-large" onclick="checkProjects('python');">Python</button>
							<div id = "python"></div>
						</div>
						<div class="col s2">
							<button class="waves-effect waves-light btn-large" onclick="checkProjects('javascript');">Javascript</button>
							<div id = "javascript"></div>
						
						</div>
						<div class="col s2">
							<button class="waves-effect waves-light btn-large" onclick="checkProjects('node');">Node.js</button>
							<div id = "node"></div>
						</div>
						<div class="col s2">
							<button class="waves-effect waves-light btn-large" onclick="checkProjects('express');">Express</button>
							<div id = "express"></div>
						</div>
						<div class="col s2">
							<button class="waves-effect waves-light btn-large" onclick="checkProjects('jQuery');">jQuery</button>
							<div id = "jQuery"></div>
						</div>
						<div class="col s2">
							<button class="waves-effect waves-light btn-large" onclick="checkProjects('mySQL');">mySql</button>
							<div id = "mySQL"></div>
					</div>
					<div class="skills-row-2 col s12">
						<div class="col s2">
							<button class="waves-effect waves-light btn-large" onclick="checkProjects('html');">HTML5</button>
							<div id = "html"></div>
						</div>
						<div class="col s2">
							<button class="waves-effect waves-light btn-large" onclick="checkProjects('css');">CSS3</button>
							<div id = "css"></div>
						</div>
						<div class="col s2">
							<button class="waves-effect waves-light btn-large" onclick="checkProjects('ajax');">AJAX</button>
							<div id = "ajax"></div>
						</div>
						<div class="col s2">
							<button class="waves-effect waves-light btn-large" onclick="checkProjects('bootstrap');">Bootstrap</button>
							<div id = "bootstrap"></div>
						</div>
						<div class="col s2">
							<button class="waves-effect waves-light btn-large" onclick="checkProjects('materialize');">Materialize</button>
							<div id = "materialize"></div>
						</div>
						<div class="col s2">
							<button class="waves-effect waves-light btn-large" onclick="checkProjects('react');">React/Redux</button>
							<div id = "react"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col offset-s2 s8 project-list">
					<div class = "project1 col s12 project-box">
						<div id="project1Title" class="project-title col s12"></div>
						<img id="project1Pic" class="project-picture col s6" src="">
						<div id ="project1Caption" class="col s6"></div>
					</div>
					<div class="project2 col s12 project-box">
						<div id="project2Title" class="project-title col s12"></div>
						<img id="project2Pic" class="project-picture col s6" src="">
						<div id ="project2Caption" class="project-caption col s6"></div>
					</div>
					<div class="project3 col s12 project-box">
						<div id="project3Title" class="project-title col s12"></div>
						<img id="project3Pic" class="project-picture col s6" src="">
						<div id ="project3Caption" class="project-caption col s6"></div>
					</div>
					<div class="project4 col s12 project-box">
						<div id="project4Title" class="project-title col s12"></div>
						<img id="project4Pic" class="project-picture col s6" src="">
						<div id ="project4Caption" class="project-caption col s6"></div>
					</div>
					<div class="project5 col s12 project-box">
						<div id="project5Title" class="project-title col s12"></div>
						<img id="project5Pic" class="project-picture col s6" src="">
						<div id ="project5Caption" class="project-caption col s6"></div>
					</div>
				</div>
			</div>
		</div>
		<section id="Contact-Me" class="wrapper">
                <h2>Contact-Me</h2>
                <form action="/contact" method="post" id="myform">
                    <div class="field">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" value="" maxlength="50">
                    </div>
                    <div class="field">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" value="" maxlength="50" required="">
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="6" maxlength="200" required="" placeholder="Please write a brief message. I'm excited to hear from you!"></textarea>
                    </div>
                    <button type="submit">Send</button>
                    <div class="thank-you"></div>
                </form>
      
        </section>
	</main>
<footer class="page-footer teal lighten-3">
	<% include footer %>
</footer>
</body>
</html>