<div class="container-fluid page-top">
  <div class="row">
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper teal lighten-3">
          <a href="#" class="my-pic">Amir Patel</a>
          <ul id="nav-bar" class="right">
            <li><a href="#About-Me">About Me</a></li>
            <li><a href="#Skills">Skills</a></li>
            <li><a href="#Projects">Projects</a></li>
            <li><a href="#Contact-Me">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>