<div class="navbar-fixed">
    <nav class="transparent z-depth-0">
        <div class="nav-wrapper"> 
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="btn navbtn" href="#About-Me">About Me</a></li>
                <li><a class="btn navbtn" href="#Featured-Project">Projects</a></li>
                <li><a class="btn navbtn" href="#Skills">Skills</a></li>
                <li><a class="btn navbtn" href="#Contact-Me">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>
<ul class="side-nav" id="mobile-demo">
    <li><a class="btn navbtn" href="#About-Me">About Me</a></li>
    <li><a class="btn navbtn" href="#Projects">Projects</a></li>
    <li><a class="btn navbtn" href="#Skills">Skills</a></li>
    <li><a class="btn navbtn" href="#Contact-Me">Contact</a></li>
</ul>